pipeline/PL_Audit.json
{
	"name": "PL_Audit",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_Gen2_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASDB_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Success_SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[audit_logs_usp]",
					"storedProcedureParameters": {
						"copyduration": {
							"value": {
								"value": "@activity('Copy data1').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"datafactoryname": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"endtime": {
							"value": {
								"value": "@activity('Copy data1').ExecutionEndTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"piplelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"piplelinerunid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsread": {
							"value": {
								"value": "@activity('Copy data1').output.rowsread",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"rowswritten": {
							"value": {
								"value": "@activity('Copy data1').output.rowscopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"starttime": {
							"value": {
								"value": "@activity('Copy data1').ExecutionStartTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": {
								"value": "@activity('Copy data1').status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failed_SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[audit_logs_usp]",
					"storedProcedureParameters": {
						"copyduration": {
							"value": {
								"value": "@activity('Copy data1').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"datafactoryname": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"endtime": {
							"value": {
								"value": "@activity('Copy data1').ExecutionEndTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"piplelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"piplelinerunid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsread": {
							"value": {
								"value": "@activity('Copy data1').output.rowsread",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"rowswritten": {
							"value": {
								"value": "@activity('Copy data1').output.rowscopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"starttime": {
							"value": {
								"value": "@activity('Copy data1').ExecutionStartTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": {
								"value": "@activity('Copy data1').status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-07T06:16:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}